<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <div class="icon icon--white collapsible__chevron">
        <img src="./icons/chevron.svg" alt=""/>
      </div>

    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
      natus.
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 2</h2>
      <div class="icon icon--white collapsible__chevron">
        <img src="./icons/chevron.svg" alt=""/>
      </div>

    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
      natus.
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 3</h2>
      <div class="icon icon--white collapsible__chevron">
        <img src="./icons/chevron.svg" alt=""/>
      </div>

    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
      natus.
    </div>
  </div>
